// Colors
$color-blue-primary: #051937;
$color-blue-secondary: #004165;
$color-blue-tertiary: #006d7d;

$color-green-primary: #71be5e94;
$color-green-secondary: #00987794;
$color-green-tertiary: #30994a;

$color-white: #efe7e7;
$color-dark-blue: #0b1a22;

$color-light-grey-1: #dee7ec;
$color-light-grey-2: #b8c1d8;

$color-medium-grey-1: #94bed2;

$color-soft-black: #15242ddb;
$color-soft-white: #d3e3ebef;

// Grid Size
$grid-width: 114rem;
$grid-gutter: 8rem;
