.section-test {
  height: 95vh;
}
.row {
  margin: 0 auto;
  max-width: $grid-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond(tab-land) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  // [class^='col-'] {
  //   // float: left;

  //   // &:not(:last-child) {
  //   //   margin-right: $grid-gutter;
  //   // }
  // }

  // & > * {
  //   display: inline-block;
  // }

  // .col-1-of-4 {
  //   width: calc((100% - 3 * #{$grid-gutter}) / 4);
  // }

  // .col-1-of-3 {
  //   width: calc((100% - 2 * #{$grid-gutter}) / 3);
  // }

  @include respond(tab-land) {
    // max-width: 80vw;

    //   [class^='col-'] {
    //     &:not(:last-child) {
    //       margin-right: 2vw;
    //     }
    //   }

    //   & > * {
    //     display: inline-block;
    //   }

    //   .col-1-of-4 {
    //     width: calc((100% - 3 * #{2vw}) / 4);
    //   }

    //   .col-1-of-3 {
    //     width: calc((100% - 2 * #{2vw}) / 3);
    //   }
    // }
  }
}
