.card {
  height: 34rem;
  // background-color: $color-soft-white;
  border-radius: 3px;
  box-shadow: 0.6px 0.6px 10px rgba($color-soft-black, 0.6);
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    width: 12rem;
    margin-bottom: 2rem;
  }

  &__head {
    color: $color-soft-black;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-left: 7px;
    padding-right: 7px;

    &--overflow {
      margin-top: -3px;
    }
  }

  &__content {
    padding-top: 2rem;
  }
}
