body {
  font-family: 'Lora';
}

// Header Headings
.heading-primary {
  font-size: 6.8rem;
  color: $color-white;
  text-shadow: 2px 2px 5rem $color-dark-blue;
  letter-spacing: 1.4rem;
  display: block;

  @include respond(tab-port) {
    margin-left: -2rem !important;
  }

  @include respond(phone) {
    margin-top: 10rem;
    letter-spacing: 0.6rem;
    margin-left: -3rem !important;
  }
}

.heading-tertiary {
  font-size: 3.4rem;
  color: $color-dark-blue;
  text-shadow: 2px 2px 5rem $color-dark-blue;
  letter-spacing: 0.4rem;

  @include respond(tab-port) {
    display: none !important;
    letter-spacing: 0.2rem;
  }
  @include respond(phone) {
    margin-left: -3rem !important;
  }
}

.heading-secondary {
  font-size: 6rem;
  color: $color-white;
  text-shadow: 2px 2px 5rem $color-dark-blue;
  letter-spacing: 0.9rem;

  @include respond(tab-port) {
    margin-left: 30rem !important;
    letter-spacing: 0.6rem;
  }

  @include respond(phone) {
    margin-left: 25rem !important;
    top: -4rem !important;
  }
}

// General Headings

.section-heading-main {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;

  background: linear-gradient(
    to right,
    $color-blue-tertiary,
    $color-green-tertiary
  );

  -webkit-background-clip: text;
  color: transparent;
}

.section-heading-main-white {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 1.4rem;
  color: white;
}

.contact-card-header {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    $color-blue-tertiary,
    $color-green-tertiary
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contact-card-sub-header {
  font-size: 2.2rem;
  background: linear-gradient(
    to right,
    $color-blue-tertiary,
    $color-green-tertiary
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-card-body {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  color: $color-soft-white;
  letter-spacing: 3px;
}

.btn-icon {
  color: white;
  font-size: 3rem;
}
